

<h1>Edit Your Wiki</h1>

 <div class="row">

   <div class="col-md-4">
     <p>Guidelines for Wikis</p>
     <ul>
       <li>Your Wiki may outline any ideas for hobbies, intentions or other plans.</li>
       <li>Each Wiki will be reviewed by an editor.</li>
       <li>Blocipedia retains the right to delete Wikis which could be offensive to others!</li>
     </ul>
   </div>

   <div class="col-md-8">
     <%= form_for @wiki do |f| %>

       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter your wiki title" %>
       </div>

       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter your wiki body" %>
       </div>

       <div class="form-group">
         <% if current_user.admin? || current_user.premium? %>

          <%= f.label :private, class: 'checkbox' do %>
          <%= f.check_box :private %> Private Wiki
          <% end %>
          </div>

          <h4>Add A Collaborator</h4>

          <div class="form-group">
            <%= f.text_field :collaborator_email, class: 'form-control', placeholder: "Enter a new collaborator email address" %>
          </div>
        <% end %>



       <h4>Current Collaborators</h4>

       <% @wiki.collaborating_users.each do |d| %>
          <li>
                <%= d.name %>,
                <%= d.email %>
          </li>
       <% end %>
       <% if current_user.admin? || current_user.premium? %>
       <div class="form-group">
         <%= f.text_field :collaborator_drop, class: 'form-control', placeholder: "Enter the email address of your collaborator to drop from this project!" %>
       </div>
       <% end %>


        <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
      <% end %>

     </div>
   </div>
