
<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <div class="media-body">
         <h2 class="media-heading"><%= current_user.name %></h2>
         <h4 class="media-heading"><%= current_user.email %></h4>

           <% if current_user.role == "standard" %>
              <%= "You are currently enrolled as a Standard user." %>
              <%= "As a Standard user all of your wikis are public." %>
              <%= link_to "Would you like to upgrade?", new_charge_path, class: 'btn btn-success' %>
              <%= "A Premium Account is $15.00 / year." %>

            <% elsif current_user.premium? %>
              <%= "You are currently enrolled as a premium user.         " %>
              <%= link_to "Update my account?", user_update_path(@user), class: 'btn btn-success' %>
              <%= "Downgrading to a Standard account will make all your Private Wikis become Public Wikis.         " %>
              <%= "You will not be refunded from your Premium account.         " %>

             <% end %>

       </div>
     </div>
   </div>
 </div>
