
<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <div class="media-body">
         <h2 class="media-heading"><%= current_user.name %></h2>
         <h4 class="media-heading"><%= current_user.email %></h4>

           <% if current_user.role == "standard" %>
              <div><%= "You are currently enrolled as a Standard user." %></div>
              <div><%= "As a Standard user all of your wikis are public." %></div>
              <div><%= "A Premium Account is $15.00 / year." %></div>
              <%= link_to "Would you like to upgrade?", new_charge_path, class: 'btn btn-success' %>

            <% elsif current_user.premium? %>
              <div><%= "You are currently enrolled as a Premium user." %></div>
              <div><%= "Downgrading to a Standard account will make all your Private Wikis become Public Wikis." %> </div>
              <div><%= "You will not be refunded from your Premium account." %></div>
              <%= button_to 'Downgrade Your Account?', user_update_path, class: 'btn btn-success' , method: :get %>
           <% end %>
       </div>
     </div>
   </div>
 </div>
